[Unit]
Description=DVWA Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
#User=serviceuser
ExecStartPre=docker pull vulnerables/web-dvwa:latest
ExecStart=docker run -d --name dvwa	-p 10.55.56.10:80:80/tcp vulnerables/web-dvwa:latest
ExecStartPost=
ExecStop=
ExecReload=

[Install]
WantedBy=multi-user.target